java:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    darts:
      secrets:
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: AzureAdB2CFuncTestROPCClientId
          alias: AAD_B2C_ROPC_CLIENT_ID_KEY
        - name: AzureAdB2CFuncTestROPCUsername
          alias: FUNC_TEST_ROPC_USERNAME
        - name: AzureAdB2CFuncTestROPCPassword
          alias: FUNC_TEST_ROPC_PASSWORD
        - name: redis-connection-string
          alias: REDIS_CONNECTION_STRING
  environment:
    DARTS_API_URL: https://darts-api.staging.platform.hmcts.net
