java:
  applicationPort: 8070
  image: 'sdshmctspublic.azurecr.io/darts/gateway:latest'
  ingressHost: darts-gateway.{{ .Values.global.environment }}.platform.hmcts.net
  aadIdentityName: darts
  keyVaults:
    "darts":
      secrets:
        - name: AzureAdB2CFuncTestROPCClientId
          alias: AAD_B2C_ROPC_CLIENT_ID
        - name: AzureAdB2CClientId
          alias: AAD_B2C_CLIENT_ID
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: MaxFileUploadSizeInMegabytes
          alias: MAX_FILE_UPLOAD_SIZE_MEGABYTES
        - name: redis-connection-string
          alias: REDIS_CONNECTION_STRING
        - name: AzureAdB2CTenantId
          alias: AAD_B2C_TENANT_ID
        - name: ViQExternalUserName
          alias: VIQ_EXTERNAL_USER_NAME
        - name: ViQExternalPassword
          alias: VIQ_EXTERNAL_PASSWORD
        - name: ViQInternalPassword
          alias: VIQ_INTERNAL_PASSWORD
        - name: XhibitExternalUserName
          alias: XHIBIT_EXTERNAL_USER_NAME
        - name: XhibitExternalPassword
          alias: XHIBIT_EXTERNAL_PASSWORD
        - name: XhibitInternalPassword
          alias: XHIBIT_INTERNAL_PASSWORD
        - name: CPExternalUserName
          alias: CP_EXTERNAL_USER_NAME
        - name: CPExternalPassword
          alias: CP_EXTERNAL_PASSWORD
        - name: CPInternalPassword
          alias: CP_INTERNAL_PASSWORD
        - name: ExternalServiceBasicAuthorisationWhitelist
          alias: EXTERNAL_SERVICE_BASIC_AUTHORISATION_WHITELIST
        - name: JwksRefreshPeriod
          alias: JWKS_REFRESH_PERIOD
        - name: JwksLifetimePeriod
          alias: JWKS_LIFETIME_PERIOD
  environment:
    DARTS_API_URL: https://darts-api.{{ .Values.global.environment }}.platform.hmcts.net
    ACTIVE_DIRECTORY_B2C_BASE_URI: https://hmctsstgextid.b2clogin.com
    ACTIVE_DIRECTORY_B2C_AUTH_URI: https://hmctsstgextid.b2clogin.com/hmctsstgextid.onmicrosoft.com
    ACTIVE_DIRECTORY_B2C_ON_MICROSOFT_URI: https://hmctsstgextid.onmicrosoft.com
