java:
  applicationPort: 8070
  image: 'sdshmctspublic.azurecr.io/darts/gateway:latest'
  ingressHost: darts-gateway.{{ .Values.global.environment }}.platform.hmcts.net
  aadIdentityName: darts
  keyVaults:
    "darts":
      secrets:
        - name: darts-gateway-DarNotifyEventSecurementUsername
          alias: DAR_NOTIFY_EVENT_SECUREMENT_USERNAME
        - name: darts-gateway-DarNotifyEventSecurementPassword
          alias: DAR_NOTIFY_EVENT_SECUREMENT_PASSWORD
        - name: AzureAdB2CFuncTestROPCClientId
          alias: AAD_B2C_ROPC_CLIENT_ID_KEY
        - name: AzureAdB2CFuncTestROPCUsername
          alias: FUNC_TEST_ROPC_USERNAME
        - name: AzureAdB2CFuncTestROPCPassword
          alias: FUNC_TEST_ROPC_PASSWORD
        - name: AppInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
        - name: MaxFileUploadSizeInMegabytes
          alias: MAX_FILE_UPLOAD_SIZE_MEGABYTES
        - name: redis-connection-string
          alias: REDIS_CONNECTION_STRING
  environment:
    DAR_NOTIFY_DEFAULT_URL: https://darts-stub-services.staging.platform.hmcts.net/VIQDARNotifyEvent/DARNotifyEvent.asmx
    DARTS_API_URL: https://darts-api.{{ .Values.global.environment }}.platform.hmcts.net
