java:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    darts:
      secrets:
        - name: AzureAdB2CFuncTestROPCClientId
          alias: AAD_B2C_ROPC_CLIENT_ID
        - name: AzureAdB2CClientId
          alias: AAD_B2C_CLIENT_ID
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: MaxFileUploadSizeInMegabytes
          alias: MAX_FILE_UPLOAD_SIZE_MEGABYTES
        - name: redis-connection-string
          alias: REDIS_CONNECTION_STRING
        - name: AzureAdB2CTenantId
          alias: AAD_B2C_TENANT_ID
        - name: ViQExternalUserName
          alias: VIQ_EXTERNAL_USER_NAME
        - name: ViQExternalPassword
          alias: VIQ_EXTERNAL_PASSWORD
        - name: ViQInternalPassword
          alias: VIQ_INTERNAL_PASSWORD
        - name: XhibitExternalUserName
          alias: XHIBIT_EXTERNAL_USER_NAME
        - name: XhibitExternalPassword
          alias: XHIBIT_EXTERNAL_PASSWORD
        - name: XhibitInternalPassword
          alias: XHIBIT_INTERNAL_PASSWORD
        - name: CPExternalUserName
          alias: CP_EXTERNAL_USER_NAME
        - name: CPExternalPassword
          alias: CP_EXTERNAL_PASSWORD
        - name: CPInternalPassword
          alias: CP_INTERNAL_PASSWORD
        - name: ExternalServiceBasicAuthorisationWhitelist
          alias: EXTERNAL_SERVICE_BASIC_AUTHORISATION_WHITELIST
  environment:
    DARTS_API_URL: https://darts-api.staging.platform.hmcts.net
    TESTING_SUPPORT_ENDPOINTS_ENABLED: true
    ENTRY_TIME_TO_IDLE_SECONDS: 42900
    APPLICATIONINSIGHTS_ROLE_NAME: "DARTS Gateway PR-${CHANGE_ID}"
